<%= render 'shared/header' %>

<div class="messages_new">
  <h1>MESSAGE</h1>

  <div class="#">
      <div class="form_wrapper">
        <%= form_with(model: [@post, @message], local: true) do |f| %>
          <%= render 'shared/error_messages' %>
    
          <%= f.label :comment %>
          <%= f.text_area :comment, rows: "2", class: "form_parts" %>
          
          <%= f.hidden_field :user_id, value: @user.id %>
          
          <%= f.submit "CREATE MESSAGE", class: "form_parts create_btn" %>
        <% end %>
      </div>
  </div>
</div>