<%= javascript_include_tag 'post_switch' %>
<%= render 'shared/header' %>

<%= render 'profile' %>

<div class="posts_select">
  <p class="posts_btn">POSTS</p>
  <p class="favorite_btn">FAVORITE</p>
</div>

<div class="post_wrapper posts">
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.picture.url, class: "post_picture" %>
    <% end %>  
  <% end %>
</div>

<div class="post_wrapper favorite hide">
  <% @user.likes.each do |like| %>
    <%= link_to post_path(like.id) do %>
      <%= image_tag like.post.picture.url, class: "post_picture" %>
    <% end %>  
  <% end %>
</div>

<%= render 'shared/footer' %>
