<%= render 'shared/header' %>

<div class="posts_show_wrapper">
  <div class="top">
    <p class="title">「<%= @post.title %>」</p>
    <p><%= link_to(@post.user[:name], @post.user, class: "name") %></p>
    <%= image_tag @post.user.picture.url, class: "trim-image-to-circle" %>
  </div>
  <%= image_tag @post.picture.url, class: "main_photo" %>
  <div class="text_wrapper">
    <%= render "like" %>
    <p><%= @post.likes.count %></p>
    <%= link_to(new_post_message_path(@post.id), class: "icon") do %>
      <i class="far fa-comment-alt text_icon comment"></i>
    <% end %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(@post.created_at) %> ago.
    </span>
  </div>
  <div class="content"><%= @post.content %></div>
  <div class="message_wrapper">
    <p>MESSAGE</p>
    <%= render "messages" %>
      
  </div>
    
    
  </div>
  
  
</div>